<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="'New Service ' + ${appName}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
</head>
<body>
<div class="container" style="min-height: calc(100vh - [header-height]px - [footer-height]px);">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#" th:text="${appName}">Application Name</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/service/all">API Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/poller">Service Poller</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users">User Management</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 disabled" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <main>
        <div align="center">
            <h4>Create New Service</h4>
            <br/>
            <form action="#" th:action="@{/save}" th:object="${new_service}"
                  method="post">

                <table border="0" cellpadding="10">
                    <tr>
                        <td>Service Name:</td>
                        <td><input type="text" th:field="*{name}"/></td>
                    </tr>
                    <tr>
                        <td>Service URL:</td>
                        <td><input type="text" th:field="*{service_Url}"/></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <button type="submit">Save</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </main>
    <footer>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <p>@ 2021 Kry </p>
        </nav>
    </footer>
</div>
</body>
</html>